{% extends 'base.html' %}
{% block content %}
    <h2 class="mb-4">Подробная информация о файле "{{ uploaded_file.file_name }}"</h2>
    <form action="{% url 'delete_file' uploaded_file.id %}" method="POST">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger mb-3">Удалить файл</button>
    </form>
    <ul class="list-group">
        {% for log in logs %}
            <li class="list-group-item">
                <div>
                    <p class="mb-1">
                        <strong>Дата и время:</strong> {{ log.timestamp }}
                    </p>
                    <p class="mb-1">
                        <strong>Сообщение:</strong> {{ log.message }}
                    </p>
                </div>
                <div>
                    <h5 class="mt-3">Pylint результат:</h5>
                    <pre class="mb-0">{{ log.pylint_result }}</pre>
                </div>
                <div>
                    <h5 class="mt-3">Flake8 результат:</h5>
                    <pre class="mb-0">{{ log.flake8_result }}</pre>
                </div>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
