{% extends 'base.html' %}
{% block content %}
    <h2>Список загруженных файлов</h2>
    <ul class="list-group mt-3">
        {% for file in files %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <a href="{{ file.file.url }}">{{ file.file_name }}</a>
                <span>
                    {% if file.inspected %}
                        <span class="badge bg-success">Inspected</span>
                    {% else %}
                        <span class="badge bg-warning text-dark">Not Inspected</span>
                    {% endif %}
                </span>
                <a href="{% url 'file_detail' file.id %}"
                   class="btn btn-link stretched-link"></a>
                <a href="{% url 'delete_file' file.id %}" class="btn btn-danger">Удалить</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
